[submodule "lib/Arduino-Temperature-Control-Library"]
	path = lib/Arduino-Temperature-Control-Library
	url = https://github.com/milesburton/Arduino-Temperature-Control-Library.git
[submodule "lib/OneWire"]
	path = lib/OneWire
	url = https://github.com/PaulStoffregen/OneWire.git
[submodule "lib/UIPEthernet"]
	path = lib/UIPEthernet
	url = https://github.com/UIPEthernet/UIPEthernet.git
